
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>QQCallBack</title>
</head>
<body>
    <div> 
        <img src="@ViewBag.img" />
        <h3>@ViewBag.name</h3>
    </div>
</body>
</html>
